<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../favicon.ico">

  <title>Colonist Game</title>

  <!-- Bootstrap core CSS -->
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/css/custom.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|PT+Sans" rel="stylesheet">


  <script id="marketplace-template" type="text/x-jsrender">
    <div class="row marketplace-row resource-{{:resourceHandle}}">
      <div class="col-md-3">{{:resourceTitle}}</div> 
      <div class="col-md-9"> 
        <button class="btn btn-primary marketplace-button buy" data-item="{{:resourceHandle}}" data-action="buy">Buy for <span class="marketplace-buy-cost" data-item="{{:resourceHandle}}"></span></button> 
        <button class="btn btn-danger marketplace-button sell" data-item="{{:resourceHandle}}" data-action="sell">Sell for <span class="marketplace-sell-cost" data-item="{{:resourceHandle}}"></span></button> 
      </div> 
    </div>
  </script>

  <script id="purchase-building" type="text/x-jsrender">

    {{if researchRequired}}
    <div class="col-md-6 research-hidden" data-research="{{:research}}">
    {{else}}
    <div class="col-md-6">
    {{/if}}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">{{:title}}</h5>
          <p class="card-subtitle">{{:description}}</p>
          <p class="card-text card-resources"><span class="workers" data-building="{{:handle}}">0</span></p>
          <p class="card-text card-resources"><span class="cost" data-building="{{:handle}}"></span></p>
          <p class="card-text card-resources"><span class="production-text" data-building="{{:handle}}">&nbsp;</span></p>
          <button class="btn btn-primary purchase btn-halfwidth" data-building="{{:handle}}" data-amount="1">Buy 1</button>
          <button class="btn btn-danger destroy btn-halfwidth" data-building="{{:handle}}" data-amount="1">Destroy 1</button>
        </div>
      </div>
    </div>
  </script>

  <script id="research-button" type="text/x-jsrender">
  {{if researchRequired}}
  <button class="btn btn-primary btn-fullwidth research research-hidden" data-research="{{:research}}" data-task="{{:handle}}"><span class="research-description"></span></button>
  {{else}}
  <button class="btn btn-primary btn-fullwidth research" data-task="{{:handle}}"><span class="research-description"></span></button>
  {{/if}}
  </script>
</head>

<body>
  <div class="modal fade" id="changelog-modal" tabindex="-1" role="dialog" aria-labelledby="changelog-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changelog-modal-title">Changelog</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body changelog-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Colonist</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#changelog-modal">Changelog</a>
        </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>-->
        </ul>
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link btn btn-primary save margin-right">Save Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-danger reset ">Reset Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"><span class="revision"></span></a>
          </li>
        </ul>

      </div>
    </nav>

    <main role="main" class="container">

      <div class="row margin-top">
        <div class="col-md-4">
          <div class="box">
            <div class="header">
              Resources
            </div>
            <div class="body">
              <table class="table table-borderless table-resources">
                <!--<thead>
                  <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>-->
                <tbody class="resourceProduction">
                  <tr>
                    <th scope="row">Colonists:</th>
                    <td><span class="data colonists">0/0</span></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Required Workers:</th>
                    <td><span class="data requiredWorkers">0</span></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Fertility</th>
                    <td><span class="data fertility">0</span>%</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Productivity</th>
                    <td><span class="data productivity">100</span>%</td>
                    <td></td>
                  </tr>

                  <tr class="resourceListRow" data-resource="food">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/food.png"/> Food:</th>
                    <td><span class="resource food">0</span></td>
                    <td><span class="production food">0.0/t</span></td>
                  </tr>
                  <tr class="resourceListRow" data-resource="wood">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/wood.png"/> Wood:</th>
                    <td><span class="resource wood">0</span></td>
                    <td><span class="production wood">0.0/t</span></td>
                  </tr>
                  <tr class="resourceListRow" data-resource="stone">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/stone.png"/> Stone:</th>
                    <td><span class="resource stone">0</span></td>
                    <td><span class="production stone">0.0/t</span></td>
                  </tr>

                  <tr class="resourceListRow research-hidden" data-research="charcoalsmelting" data-resource="charcoal">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/charcoal.png"/> Charcoal:</th>
                    <td><span class="resource charcoal">0</span></td>
                    <td><span class="production charcoal">0.0/t</span></td>
                  </tr>

                  <tr class="resourceListRow" data-resource="ironore">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/ironore.png"/> Iron Ore:</th>
                    <td><span class="resource ironore">0</span></td>
                    <td><span class="production ironore">0.0/t</span></td>
                  </tr>
                  <tr class="resourceListRow research-hidden" data-research="ironsmelting" data-resource="iron">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/iron.png"/> Iron:</th>
                    <td><span class="resource iron">0</span></td>
                    <td><span class="production iron">0.0/t</span></td>
                  </tr>
                  <tr class="resourceListRow research-hidden" data-research="goldmining" data-resource="goldore">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/goldore.png"/> Gold Ore:</th>
                    <td><span class="resource goldore">0</span></td>
                    <td><span class="production goldore">0.0/t</span></td>
                  </tr>
                  <tr class="resourceListRow research-hidden" data-research="goldsmelting" data-resource="gold">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/gold.png"/> Gold:</th>
                    <td><span class="resource gold">0</span></td>
                    <td><span class="production gold">0.0/t</span></td>
                  </tr>
                  <tr class="resourceListRow" data-resource="tools">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/tools.png"/> Tools:</th>
                    <td><span class="resource tools">0</span></td>
                    <td><span class="production tools">0.0/t</span></td>
                  </tr>

                  <tr class="resourceListRow" data-resource="science">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/science.png"/> Science:</th>
                    <td><span class="resource science">0</span></td>
                    <td><span class="production science">0.0/t</span></td>
                  </tr>

                  <tr class="resourceListRow research-hidden" data-research="minting" data-resource="coins">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/coins.png"/> Coins:</th>
                    <td><span class="resource coins">0</span></td>
                    <td><span class="production coins">0.0/t</span></td>
                  </tr>
                  

                </tbody>
              </table>
            </div>
          </div>



          <div class="box">
            <div class="header">
              Buildings
            </div>
            <div class="body">
              <table class="table table-borderless table-buildings">
                <tbody>
                  <tr>
                    <th scope="row">House:</th>
                    <td><span class="data building" data-building="house">0</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Wood Shack:</th>
                    <td><span class="data building" data-building="woodshack">0</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Farm:</th>
                    <td><span class="data building" data-building="farm">0</span></td>
                  </tr>
                  <tr class="research-hidden" data-research="milling">
                    <th scope="row">Mill:</th>
                    <td><span class="data building" data-building="mill">0</span></td>
                  </tr>
                  <tr class="research-hidden" data-research="charcoalsmelting">
                    <th scope="row">Charcoal Kiln:</th>
                    <td><span class="data building" data-building="charcoalkiln">0</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Iron Mine:</th>
                    <td><span class="data building" data-building="ironmine">0</span></td>
                  </tr>
                  <tr class="research-hidden" data-research="ironsmelting">
                    <th scope="row">Iron Forge:</th>
                    <td><span class="data building" data-building="ironforge">0</span></td>
                  </tr>
                  <tr class="research-hidden" data-research="goldmining">
                    <th scope="row">Gold Mine:</th>
                    <td><span class="data building" data-building="goldmine">0</span></td>
                  </tr>
                  <tr class="research-hidden" data-research="goldsmelting">
                    <th scope="row">Gold Forge:</th>
                    <td><span class="data building" data-building="goldforge">0</span></td>
                  </tr>
                  <tr class="research-hidden" data-research="coinminting">
                    <th scope="row">Mint:</th>
                    <td><span class="data building" data-building="mint">0</span></td>
                  </tr>
                  <tr class="research-hidden" data-research="toolmaking">
                    <th scope="row">Toolery:</th>
                    <td><span class="data building" data-building="toolery">0</span></td>
                  </tr>
                  <tr class="research-hidden" data-research="scientificresearch">
                    <th scope="row">Lab:</th>
                    <td><span class="data building" data-building="lab">0</span></td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>


          <div class="box bonusesBox">
            <div class="header">
              Bonuses
            </div>
            <div class="body">
              <h4>Global</h4>
              <table class="table table-borderless table-resources">
                <!--<thead>
                  <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>-->
                <tbody>
                  <tr class="bonusRow" data-bonus="globalbonus.foodConsumptionRate">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/food.png"/> Food Consumption:</th>
                    <td><span class="bonus" data-bonus="globalbonus.foodConsumptionRate">+0%</span></td>
                  </tr>
                  
                  

                </tbody>
              </table>

              <h4>Production</h4>
              <table class="table table-borderless table-resources">
                <!--<thead>
                  <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>-->
                <tbody>
                  <tr class="bonusRow" data-bonus="production.food">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/food.png"/> Food:</th>
                    <td><span class="bonus" data-bonus="production.food">+0%</span></td>
                  </tr>
                  <tr class="bonusRow" data-bonus="production.wood">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/wood.png"/> Wood:</th>
                    <td><span class="bonus" data-bonus="production.wood">+0%</span></td>
                  </tr>
                  <tr class="bonusRow" data-bonus="production.stone">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/stone.png"/> Stone:</th>
                    <td><span class="bonus" data-bonus="production.stone">+0%</span></td>
                  </tr>
                  <tr class="bonusRow" data-bonus="production.ironore">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/ironore.png"/> Iron Ore:</th>
                    <td><span class="bonus" data-bonus="production.ironore">+0%</span></td>
                  </tr>
                  <tr class="bonusRow" data-bonus="production.iron">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/iron.png"/> Iron:</th>
                    <td><span class="bonus" data-bonus="production.iron">+0%</span></td>
                  </tr>
                  <tr class="bonusRow" data-bonus="production.goldore">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/goldore.png"/> Gold Ore:</th>
                    <td><span class="bonus" data-bonus="production.goldore">+0%</span></td>
                  </tr>
                  <tr class="bonusRow" data-bonus="production.gold">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/gold.png"/> Gold:</th>
                    <td><span class="bonus" data-bonus="production.gold">+0%</span></td>
                  </tr>
                  <tr class="bonusRow" data-bonus="production.charcoal">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/charcoal.png"/> Charcoal:</th>
                    <td><span class="bonus" data-bonus="production.charcoal">+0%</span></td>
                  </tr>
                  <tr class="bonusRow" data-bonus="production.tools">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/tools.png"/> Tools:</th>
                    <td><span class="bonus" data-bonus="production.tools">+0%</span></td>
                  </tr>

                  <tr class="bonusRow" data-bonus="production.science">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/science.png"/> Science:</th>
                    <td><span class="bonus" data-bonus="production.science">+0%</span></td>
                  </tr>



                  <tr class="bonusRow" data-bonus="production.coins">
                    <th scope="row"><img class="resource-icon" src="assets/img/resources/coins.png"/> Coins:</th>
                    <td><span class="bonus" data-bonus="production.coins">+0%</span></td>
                  </tr>
                  

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <!-- START: messages -->
          <div class="box">
            <div class="header">
              Messages
            </div>
            <div class="body message-body">
              <ul class="messages">

              </ul>
            </div>
          </div>
          <!-- END: messages -->


          <!-- tabbable area -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="building-tab" data-toggle="tab" href="#buildings" role="tab" aria-controls="buildings" aria-selected="true">Buildings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="research-tab" data-toggle="tab" href="#research" role="tab" aria-controls="research" aria-selected="false">Research</a>
            </li>
            <li class="nav-item research-hidden" data-research="marketplace">
              <a class="nav-link" id="marketplace-tab" data-toggle="tab" href="#marketplace" role="tab" aria-controls="contact" aria-selected="false">Market</a>
            </li>
          </ul>
          <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="buildings" role="tabpanel" aria-labelledby="building-tab">
              <!-- START: buildings -->
              <div class="tab-box">
                <div class="body building-purchase-container">

                  <div class="row category-housing">
                    <div class="col-md-12">
                      <h5>Housing</h5>
                    </div>
                  </div>

                  <div class="row category-production margin-top">
                    <div class="col-md-12">
                      <h5>Production</h5>
                    </div>
                  </div>

                  <div class="row category-refining margin-top research-hidden" data-research="charcoalsmelting">
                    <div class="col-md-12">
                      <h5>Refining</h5>
                    </div>
                  </div>

                  <div class="row category-manufacturing margin-top research-hidden" data-research="toolmaking">
                    <div class="col-md-12">
                      <h5>Manufacturing</h5>
                    </div>
                  </div>

                  <div class="row category-science margin-top research-hidden" data-research="scientificresearch">
                    <div class="col-md-12">
                      <h5>Science</h5>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
              <!-- END: buildings -->

            </div>
            <div class="tab-pane fade" id="research" role="tabpanel" aria-labelledby="research-tab">
              <div class="tab-box">
                <div class="body research-button-container">

                  <div class="row ">
                    <div class="col-md-12 category-unlock">
                      <h5>Buildings & Items</h5>
                    </div>
                  </div>

                  <div class="row margin-top">
                    <div class="col-md-12 category-global">
                      <h5>Global Bonuses</h5>
                    </div>
                  </div>

                  <div class="row margin-top">
                    <div class="col-md-12 category-production">
                      <h5>Production</h5>
                    </div>
                  </div>


                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="marketplace" role="tabpanel" aria-labelledby="marketplace-tab">
              <!-- START: buildings -->
              <div class="tab-box">
                <div class="body">

                  <div class="marketplace-body container">
                    <div class="row marketplace-row">
                      <div class="col-md-12">
                        <p>You can use the marketplace to buy and sell resources</p>
                        <p class="bold">Buy/Sell Amount: 
                          <button class="btn btn-primary marketplace-quantity" data-quantity="1" data-action="buy">1</button> 

                          <button class="btn btn-primary disabled marketplace-quantity" data-quantity="10" data-action="buy">10</button> 

                          <button class="btn btn-primary disabled marketplace-quantity" data-quantity="100" data-action="buy">100</button> 
                          <button class="btn btn-primary disabled marketplace-quantity" data-quantity="1000" data-action="buy">1000</button> 

                          Available Coins: <span class="resource coins">0</span>
                        </p>
                        <hr>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          


        </div>

      </div>

    </main><!-- /.container -->

    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.24.4/sweetalert2.all.min.js"></script>
    <script src="./assets/js/game.js"></script>

  </body>
  </html>
